body {
  background-image: url(/bg.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  max-width: 100%;
  margin: 0px;
  padding: 0;
}

#log {
  width: 15vw;
}

nav {
  padding-bottom: 0.5vw;
  padding-left: 13vw;
  background-color: rgba(59, 218, 218, 0.5);
  position: sticky;
  top: 0vw;
  z-index: 999;
}
/*Below are the main codes for navigation buttons*/
nav a {
  color: rgba(255, 255, 255);
  margin: 0.5vw;
  font-family: Verdana, sans-serif;
  font-stretch: condensed;
  border: none;
  padding: 0.5vw 1vw;
  font-size: 1.5vw;
  border-radius: 1vw;
  display: inline-block;
  transition-duration: 0.4s;
  text-decoration: none;
}

#log {
  position: relative;
  top: 1.5em;
  right: 13em;
}

.center {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  opacity: 0.5;
  /*match translate Y below*/
  height: 15vw;
  border-left: 0.5vw dashed rgb(178, 238, 222);
}

.arrow {
  position: absolute;
  top: 0;
  left: -0.5vw;
  height: 7vw;
  width: 0.5vw;
  background: rgb(221, 221, 221);
  animation: downn 2s infinite;
}

.arrow:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -1.5vw;
  width: 3vw;
  height: 3vw;
  border-bottom: 0.5vw solid rgb(221, 221, 221);
  border-right: 0.5vw solid rgb(221, 221, 221);
  transform: rotate(45deg);
}

@keyframes downn {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(16vw);
    opacity: 1.5;
  }
  /*Match above height position*/
  100% {
    transform: translateY(15vw);
    opacity: 0.5;
  }
}

.block {
  width: 2vw;
  height: 1vw;
}

nav ul li {
  display: inline-block;
}
nav a:hover {
  background: rgba(12, 129, 129, 0.5);
  color: #ffffff;
}

p {
  text-align: center;
  padding-left: 1vw;
  padding-top: 11vw;
  font-size: 2.1vw;
  font-family: Verdana, sans-serif;
  color: rgb(0, 0, 0);
}

h1 {
  text-align: center;
  padding-left: 1vw;
  padding-top: 7vw;
  font-size: 3.9vw;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
}

h2 {
  text-align: center;
  padding-top: 15vw;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 3vw;
}

h3 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 5vw;
}

h4 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.5vw;
  padding-top: 5vw;
}

h5 {
  text-align: center;
  font-family: Verdana, sans-serif;
  font-weight: 500;
  color: #fff;
  font-size: 1.5vw;
}

.plant1 {
  width: 15%;
  padding-left: 19%;
}

.plant2 {
  width: 15%;
  padding-left: 10%;
}

.plant3 {
  width: 15%;
  padding-left: 10%;
}

.abtus {
  width: 31%;
  padding-left: 11%;
}

.box {
  position: absolute;
  left: 19%;
  text-align: center;
  width: 9vw;
  height: 3vw;
  background-color: #005503;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  padding-top: 1vw;
  border-radius: 1vw;
}
.box2 {
  position: absolute;
  left: 44.5%;
  text-align: center;
  width: 9vw;
  height: 3vw;
  background-color: #005503;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  padding-top: 1vw;
  border-radius: 1vw;
}

.box3 {
  position: absolute;
  left: 69.9%;
  text-align: center;
  width: 9vw;
  height: 3vw;
  background-color: #005503;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  padding-top: 1vw;
  border-radius: 1vw;
}

.box4 {
  position: absolute;
  left: 29.8%;
  text-align: center;
  width: 4vw;
  height: 3vw;
  background-color: #005503;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  padding-top: 1vw;
  border-radius: 1vw;
}

.box5 {
  position: absolute;
  left: 55%;
  text-align: center;
  width: 4vw;
  height: 3vw;
  background-color: #005503;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  padding-top: 1vw;
  border-radius: 1vw;
}

.box6 {
  position: absolute;
  left: 80.4%;
  text-align: center;
  width: 4vw;
  height: 3vw;
  background-color: #005503;
  font-family: Verdana, sans-serif;
  color: #ffffff;
  padding-top: 1vw;
  border-radius: 1vw;
}

.cont-plant {
  width: 21vw;
  position: absolute;
  top: 103%;
  left: 10%;
}

.cont-plant2 {
  padding-left: 21%;
  width: 19.2vw;
}

input[type="text"],
select,
textarea {
  width: 45%;
  color: #ffffff;
  background-color: black;
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

.name {
  width: 50%;
  position: relative;
  left: 39%;
}

.email {
  width: 50%;
  position: relative;
  left: 39%;
}

.mssg {
  width: 100%;
  position: relative;
  left: 29%;
}

.submt {
  width: 51%;
  position: relative;
  left: 42%;
}

input[type="submit"] {
  background-color: #065711;
  color: white;
  padding: 12px 20px;
  border: none;
}
input[type="submit"]:hover {
  background-color: #45a049;
}
.container {
  position: absolute;
  top: 103%;
  left: 35%;
  width: 45%;
  background-color: #ffffff;
  padding: 20px;
}

/**/
/*plants on sale*/

.carousel-container {
  border-radius: 20px;
  overflow: hidden;
  max-width: 380px;
  height: 540px;
  position: relative;
  left: 375px;
  box-shadow: 0 0 100px -20px lightblue;
  margin: auto;
  z-index: 0;
}

.sale {
  position: relative;
  right: 330px;
  top: 350px;
}

.plant-img {
  object-fit: contain;
}

/* Hide the images by default */
.mySlides {
  display: none;
}
.mySlides img {
  display: block;
  width: 100%;
}

/* image gradient overlay [optional] */
/* .mySlides::after {
  content: "";
  position: absolute;
  inset: 0 0 0 0;
    background-image: linear-gradient(-45deg, rgba(110, 0, 255, .1), rgba(70, 0, 255, .2));
} */

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: auto;
  padding: 20px;
  color: white;
  font-weight: bold;
  font-size: 24px;
  border-radius: 0 8px 8px 0;
  background: rgba(34, 62, 70, 0.7);
  backdrop-filter: blur(6px);
  user-select: none;
}

.next {
  right: 5%;
  border-radius: 8px;
}

.prev {
  left: 5%;
  border-radius: 8px;
}

.prev:hover,
.next:hover {
  background-color: rgba(38, 127, 156, 0.7);
  transition: 1s;
}

/* Caption text */
.text {
  color: #f2f2f2;
  background-color: rgba(34, 62, 70, 0.7);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  font-size: 20px;
  padding: 8px 12px;
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
}

/* Number text (1/3 etc) */
.number {
  color: #f2f2f2;
  font-size: 16px;
  background-color: rgba(173, 216, 230, 0.15);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  padding: 8px 12px;
  position: absolute;
  top: 10px;
  left: 10px;
}
.dots-container {
  position: absolute;
  top: 87%;
  left: 35%;
  padding-top: 3vw;
}

/* The dots/bullets/indicators */
.dots {
  cursor: pointer;
  height: 14px;
  width: 14px;
  margin: 0 4px;
  background-color: rgba(99, 99, 99, 0.7);
  backdrop-filter: blur(2px);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease;
}
.active,
.dots:hover {
  background-color: rgba(46, 46, 46, 0.9);
}

/* Fading animation */
.animate {
  -webkit-animation-name: animate;
  -webkit-animation-duration: 1s;
  animation-name: animate;
  animation-duration: 2s;
}

@keyframes animate {
  from {
    transform: scale(1.1) rotateY(10deg);
  }
  to {
    transform: scale(1) rotateY(0deg);
  }
}
